* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(259, 55%, 81%, 0.876);
    flex-direction: column;
}

/* 開始畫面 */
.main {
    width: 300px;
    height: 400px;
    background: #fff;
    margin: auto;
    margin-top:100px;
    border: 4px solid rgb(156, 106, 178);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    /* display: none; */
}
.title{
    font-size: 30px;
    text-align: center;
    color: rgba(255, 123, 0, 0.785);
}
.rules{
    font-size: 20px;
    text-align: center;
    color: rgba(255, 111, 0, 0.785);
}
.btn_start,.restart{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    background-color: bisque;
}

/* 遊戲中 */
.play{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.time{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
    border: 5px solid rgb(164, 160, 160);
    background-color: rgba(250, 230, 52, 0.889);
    color:rgb(155, 149, 149);
    font-size: 14px;
    text-align: center;
    line-height: 95px;
}

.square{
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgba(170, 170, 167, 0.868);
    border-radius: 5%;
}

.help{
    width: 300px;
    height: 100px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.score{
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(164, 28, 28, 0.868);
    text-align: center;
    line-height: 55px;
}

.sos,.stop{
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(162, 75, 75, 0.868);
    background-color: antiquewhite;
    border: 6px solid palevioletred;
    text-align: center;
    line-height: 38px;
    margin-left: 10px;
}



/* 正確答案的方塊 */
.box{
    background-color: lightblue;
    border: 5px solid white;
    border-radius: 30px;
}
.ans{
    opacity: 0.6;
}
.box.ans.act{
    box-shadow: 2px 2px 10px rgba(0,0,0,5);
}


/* 遊戲結束 */
.end{
    width: 300px;
    height: 400px;
    background: #fff;
    margin: auto;
    margin-top:100px;
    border: 4px solid rgb(156, 106, 178);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly; 
    display: none;
}
.gameover{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: black;
}
.end_score{
    font-size: 20px;
    text-align: center;
    color: black;
}
.commment{
    font-size: 20px;
    text-align: center;
}